**********************booleans in python***********************

In [1]:
#مضاعفات الرقم يعني تزود لارقم بنفس الرقم 
#ord==digit  unicode to char
# "Hello"<"Hi" --> True # bec unicode He < unicode Hi  e=101 ,i=105
# unicode to capital char diff about unicode to small char

In [2]:
student_age=20
hi_grade=True
print(student_age>=18 and hi_grade)# his age graeter than or equel to 18 && get high grade

True

In [3]:
#bool(5)
#bool("")
#bool(0)
bool("shahd")

True

****Codition if && else && elif****

In [4]:
# to check from temperature
temp=float(input("Enter the temperature: "))
if temp<=20:
    print("it's cold") #4 space
elif temp>20 and temp<33:
    print("it's nice")
else:
    print("it's warm")
print("Done")

Enter the temperature:  40

it's warm
Done

In [5]:
# to check from grade
grade=int(input("Enter your grade: "))
if grade>=60:
    print("Congratulations")
    print("student is declared pass")
else:
    print("sorry student is declared fail")

Enter your grade:  50

sorry student is declared fail

In [6]:
#### Ternary operator اختصار اسطر برمجيه في سطر واحد
# ************to check even or odd*****************
#num=int(input("Enter the number: "))
# if num%2==0:
#     message="EVEN"
# else:
#     message="ODD"
# print(message)    
#message ="EVEN" if num%2==0 else "ODD"
#print(message)
#***************other example***************
a=10
b=20
max=a if a>b else b
print(max)# get 20

20

*************************match statement like if ***************

*************************match statement like if ***************

In [7]:
print("1 Arabic\n2 English\n3 French")
choice=int(input("Enter your choice number: "))

match choice:
     case 1:
         print("Arabic")
     case 2: 
         print("English")
     case 3: 
         print("French") 
     case _ :   #defult case عندما لا تتحقق الشروط السابقه
         print("unsupported language")

1 Arabic
2 English
3 French

Enter your choice number:  1

Arabic

In [8]:
#calculate by use match
n1=int(input("Enter first number: "))
n2=int(input("Enter second number: "))
operator=input("Enter operator: ")
match operator:
      case "+":
          print(f"{n1} + {n2} = {n1+n2}")
      case "-":
          print(f"{n1} - {n2} = {n1-n2}")
      case "*":
          print(f"{n1} * {n2} = {n1*n2}")  
      case "/":
          if n2 !=0:
              print(f"{n1} / {n2} = {n1/n2}")
          else:
              print("cannot divide by zero!")
      case _ :
          print("Unknown operator!")

Enter first number:  3
Enter second number:  4
Enter operator:  *

3 * 4 = 12

In [9]:
#to calculate and evaluate the BMI(Body mass index) to persone
height=float(input("Enter your height in (cm): "))
weight=float(input("Enter your weight in (kg): "))
BMI=weight/(height/100)**2
if BMI<18.5:
    print(f"Your BMI= {BMI:.2f} \nYou have Underweight!")#:.2f take two num after point
elif BMI>18.5 and BMI<25:
    print(f"Your BMI= {BMI:.2f} \nYour Healthy")
elif BMI>25 and BMI<30:
    print(f"Your BMI= {BMI:.2f} \nYou have Overweight!")
else :
    print(f"Your BMI= {BMI:.2f} \nYou have Obese!")

Enter your height in (cm):  157
Enter your weight in (kg):  70

Your BMI= 28.40
You have Overweight!

**********************************indexing& slicing تقطيع************************************************88
list[start:end:step]

***********LIST مجموعه تحتفظ بترتيبها مش شرط مرتبه***********

In [10]:
names=["shahd","ahmed","ali","sama","mona"]
#names[0:]
#names[0:3]
# names[:]
#names[-4:-1] #الاخير لا يطبع
# names[-2:-3]
# names[0:5:2]
# names[::2]
# names[3]="bosy"#استبدال
#names

In [11]:
# another type of list
l1=["python"]
l2=list("python") #string=sequece of char here it will slice python work to char in list      هيقطعها
print(l1)
print(l2)

['python']
['p', 'y', 't', 'h', 'o', 'n']

In [12]:
#to print set of numbers by using list
numbers=list(range(1,20+1))#range  لتحديد نطاق له بدايه ونهايه واخر رقم في النهايه لا يظهر اذا كنت اريد اظهاره بكتبه بزود عليه 1 
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

***********************operators***********************


+ ---> لدمج قائمتين او جملتين
* ---> لتكرار الكلام او الجمل في القائمه  او تكرار القائمه
in --> للتاكد ما اذا كانت الكلمه موجودة في القائمه او لا  ترجع T or F
not in --->   للتاكد من ان الكلمه  غير موجودة في القائمه

In [13]:
list1=["shahd","roaa"]
list2=["ali","ziad"]
list3=list1+list2     #['shahd', 'roaa', 'ali', 'ziad']
list4=list1*2        #['shahd', 'roaa', 'shahd', 'roaa']
list5=["shahd",5]*3 #['shahd', 5, 'shahd', 5, 'shahd', 5]
print(list3)
print( list4)
print( list5)
print("shahd" in list1)   #True
print("ali" not in list2) #False

['shahd', 'roaa', 'ali', 'ziad']
['shahd', 'roaa', 'shahd', 'roaa']
['shahd', 5, 'shahd', 5, 'shahd', 5]
True
False

***********************List function***********************

TO ADD

In [14]:
#****************function  append()*************
colors=["red","blue","orange"]
print(type(colors))  # <class 'list'>
#to add element(object) in  list at the end
colors.append("yellow")

<class 'list'>

In [15]:
#********************88function extend()**************
#to add (list) in  list at the end 
colors.extend(["brown","white"]) # can use update also بعمل توسيع بضيف  عناصر جديد في القائمه من قائمه تاني
colors
#

['red', 'blue', 'orange', 'yellow', 'brown', 'white']

In [16]:
#**************** function insert()**************************
#to add element(object) in  list with give position index
colors.insert(2,"gray")
colors

['red', 'blue', 'gray', 'orange', 'yellow', 'brown', 'white']

*********************** TO REMOVE***********************

In [17]:

#pop() ---> remove element from list by its index 
#remove() --> remove element from list by element ## and if the element is duplicated in list the remove function delete the first element that's appear
#del --> remove part  from list by( object[statr,end] indexs)
#clear() --> remove all elements from lists

colors           # ['red', 'blue', 'gray', 'orange', 'yellow', 'brown', 'white']
colors.pop(2)
del colors[0:2]          #['red', 'blue','orange', 'yellow', 'brown', 'white']
colors.insert (5,"brown")
colors           #['red', 'blue', 'orange', 'yellow', 'brown', 'brown', 'white']
colors.remove("brown")
colors           #['red', 'blue', 'orange', 'yellow','brown', 'white']  
del colors[0:2]
colors           ##['orange','yellow', 'brown', 'white']
colors.clear()
colors           #[]

[]

****************************TO FIND *************************

In [18]:
#index() --> to return the element's index & if the element not found in the list it return value error
#to don't return error use if condition & if ele is متكرر هيرجع مكان اول عنصر
#count()--> to return the number of the element appear in list or the number of element duplicated
colors=['red', 'blue', 'orange', 'yellow', 'brown', 'brown', 'white']
# print(colors.index('orange')) # 2
# print(colors.index('gray'))  #  value error
# if 'gray' in colors:
#     print(colors.index('gray')) # no thing  هيتنفذ في حالة ان الشرط صحيح فقط
# print(colors.count('brown'))    # 2
#str.join() --> ربطعناصر القائمه ب , مثلا بدل ما تطلع اقواس"" كده لا هتطبع بالكوما عادي وشكلها يبقي حلو في حالة قائمه من string
print(" , ".join(colors))

red , blue , orange , yellow , brown , brown , white

********************  OTHER FUNCTION ***************

In [19]:
#reverse() --> to reverse order of the number  بتعكس ترتيب العناصر في القائمه
#sort() --> to order the element  بترتب العناصر والافتراضي تصاعدي
#sort(reverse=True) ---> اعكس الافتراضي وخلي الترتيب تنازلي
#copy() --> to copy the element from list to new list
numbers=list(range(1,10+1))
# numbers     
# numbers.reverse()
numbers.append(0)
# numbers
numbers.sort()
# numbers.reverse() # بتعكس بتطبع من ورا لقدام الاماكن 
# numbers.sort(reverse=True)
# numbers
new_numbers=numbers.copy()
new_numbers.append(20)
new_numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

*****************GENERAL FUNCTOIN to sring or numbers*****************

يعني مش مخصصه لنوع واحد فقط زي مصفوفه او قائمه عادي تستخدم في كله

In [22]:
#len()--> the length of list or the number of element in list
print(len(new_numbers)) #12
print(min(new_numbers)) #0
#print(max(new_numbers)) #20
#to replace element by elelment in list  لتبديل عنصر بواسطة عنصر
new_numbers[2]=3
new_numbers

12
0

[0, 1, 3, 3, 4, 5, 6, 7, 8, 9, 10, 20]

******************NASTED LIST******************

In [23]:
student=["shahd",[70,80,90]] 
#student
# student_mark=((student[1][0]+student[1][1]+student[1][2])*2)/4
# student_mark
#student[0]  #shahd
#student[1][0] #70
#student[1][2] #90

***********ِARRAYS***********

-array ---> تخزن اعداد او حروف,بعندها القيم من نفس النوع فقط لا تقبل انواع مختلفه  وبتاخد مساحه اقل وبتوفر اداء اعلا


-list ----> تقبل قيم من انواع مختلفه بس بتاخد مساحه كبيرة واقل اداء من المصفوفات

In [24]:
from array import array
scores=array("i",[60,84,45,100,77,93]) #"i"--> typecode=integer
#scores=[60,84,45,100,77,93] --> this list
scores[0]=62 #return error when inter 62.1 (float)
#scores[0:3]
scores.append(58)
scores.pop(2)
#print(max(scores))
print(sorted(scores,reverse=True)) #sorted  is general function
#scores

[100, 93, 84, 77, 62, 58]

*****TUPLES صفوف*****

In [25]:
import math
from random import choice # اختيار عنصر عشوائي
#like lists but diff about it thaht tuples immutable غير قابله لتغيير بستخدها في حالة بيانات ثابته مش محتاجه اغيرها بل اوصلها فقط
#تحتفظ بترتيب العناصر ولا يدعم تحديث القيم
#tuple=(x,y) contain diff data type
#p=(2,3)
#p=2,3
# if want to convert to tuple
rgp_color=tuple(["red","blow","yellow"])
# rgp_color
print(choice(rgp_color))
#p=(9,) لو هدخل في الصف قيمه واحده بعمل فصله وبسيبها فاضيه
# a=(2,5)
# b=(3,-2)
# distance=math.sqrt((b[0]-a[0])**2 + (b[1]-a[1])**2)
# print(f"distance=   {distance:.2f} ")
#p

blow

In [26]:
#unpacking tuples تفكيك المتعدده
numbers =(1,2,3) # لازم عدد القيم يساوي عدد المغيرات
x,y,z=numbers

In [27]:
#swping values
x,y=2,3
x,y=y,x

In [28]:
#convert list to tuples
numbers=[1,2,3,4,5]
tuple_number=tuple(numbers)
tuple_number

(1, 2, 3, 4, 5)

****SETS****

In [29]:
#set {} مجموعه من العناصر غير مرتبه وغير مكررة
#set() to create emty set and not use {} because it use also to craete tuple
colors={"red","blue","yellow"}  #==colors=set(["red","blue","yellow"])
#index لا تستخدم معاها لان عناصرها غير مرتبه فمش هعرف اوصل للعناصر بسهوله
#كمان بتخزن قيم غير قابله للتغيير زي الtuple    --> immutable
#immutable -->int, float ,string, tuple
#mutable-----> set,list ,array, dict
#data={2,6.4,"python",[1,2,3]} #get error bec list is mutable

*operators with set*

In [30]:
#union--> (|)  بيجمع المجموعتين  مع عدم تكرار العناصر
#intersection---> (&) بيرجع الموجود في الاتنين 
#difference --->(-) بيرجع الفرق بين المجموعتين 
#symmetric difference --->(^) هيرجع الاتحاد ناقص التقاطع
#membership -->(in ,not in) بترجع T or F
#comparison --->(== ,=! ,< ,> ,<=,>=) 
#Augmented assignment -->(&=,-=,^=,|=) #x&=y---> x=x&y

In [31]:
data_scientist={"Git","SQL","R","Python"}
data_engineer={"Hadoop","Git","SQL","Scala","Java","Python"}
#data_scientist.add("SAS")
#data_engineer.remove("Scala")
#print(len(data_engineer))
#print(data_scientist&data_engineer)
#print(data_scientist & data_engineer)
#print(data_scientist.intersection(data_engineer))
#my_skills={"SQL","Python"}
#print(my_skills.issubset(data_scientist))
#print(my_skills <= (data_scientist))
#data_scientist
#data_engineer

******************SET FUNCTION******************

In [32]:
animals=set(["cat","dog","camel","hen","wolf","cat"])#يحذف تلقائي العناصر المتكررة المجموعات
wild_animals={"lion","wolf","elephant"}

*TO ADD*

In [33]:
animals.add("donky")
animals.update(wild_animals)#update elso to add list 
animals

{'camel', 'cat', 'dog', 'donky', 'elephant', 'hen', 'lion', 'wolf'}

*TO REMOVE*

In [34]:
#animals.remove("wolf") #return error when the element is not in set
#animals.discard("panana")# like remove but not return error when the element  is not in set
#animals.pop() #to remove element from set Randomly
animals.clear()#remove all element from set
animals

set()

*TO CHECK*

In [35]:
domestic_animals={"cat","dog","camel"}
#print(domestic_animals.issubset(animals))
#print(domestic_animals.issuperset(animals))
#print(domestic_animals.isdisjoint(wild_animals))

*OPERATIONS*

In [36]:
#when we want to store element when use function opperation use with them _update
a={1,2,3,4,5}
b={4,5,6,7,8}
#print(a.union(b))
#print(a.intersection(b)) #a.itersection(b)
#print(a.intersection_update(b)) #store at a the intersection
#a#{4,5}
#print(a.difference(b))
print(a.symmetric_difference (b)) #a^b  هيرجع الاتحاد ناقص التقاطع

{1, 2, 3, 6, 7, 8}

*PYTHON FROZENSET*

In [37]:
#FROZENSET ---> مجموعه ثابته لايمكن اضافه او حذف اي عنصر  منها
#بس ممكن نستخدم الدوال اللي مش بتغير في العناصر زي حذف اضافه تعديل ونستخدم مثلا الاتحاد والتقاطع
vowels=frozenset(["a","e","i","o","u"])
print(vowels.union(["b","c","d"]))
vowels

frozenset({'e', 'c', 'o', 'a', 'b', 'i', 'u', 'd'})

frozenset({'a', 'e', 'i', 'o', 'u'})

*************************DICTIONARIES*************************

In [38]:
# use immutable data type --> int, float, string,tuple,bool
#key ---> value
#access by key
#.get()--->علشان لو ملقتش القيمه متطلعش ايرور
player={
    "name":"Bilal",
    "country":"egypt",
    "score":86
}
#to access
player["country"]
player.get("name")#

'Bilal'

In [39]:
contacts={"zied":50200201
          ,"nour":22100305
          ,"omar":95450500
          ,"shahd":55700107
         }
#contacts["nour"]
#contacts.get("imal","name not found")# مش بتظهر ايرور لو ملقتش العنصر بتظهر القيمه الافتراضيه اللي بديهالها او مافيش
contacts["zied"]=52300105 #when add we can use this way
contacts["amal"]=20102103
#contacts.update({"amal":20102103})
contacts.pop("omar")
contacts.keys()# get th keys
contacts.values() #get the values
contacts.items() # get all items in dic
print(dict(sorted(contacts.items())))
e2=contacts.copy()
#contacts

{'amal': 20102103, 'nour': 22100305, 'shahd': 55700107, 'zied': 52300105}

In [40]:
users={"user1":123123,
      "user2":700350,
      "user3":444555}
username=input("Enter your user name: ")
password=int(input("Enter your password: "))
if username in users:
     if password ==users[username]:
            print("user has been identified")
     else:
         print("enter correct pass")
else:
    print("usre not found")

Enter your user name:  8399780750
Enter your password:  69970

usre not found

In [47]:
#create empty dic and append the elements by input user
#store the last value written
products={}
while True:
    new_product=input(" Enter the new product? ")
    if new_product:
        if new_product in products:
            print(f"I alraedy have {new_product} ")
        else:    
             products[new_product]=int(input("Enter the price of the product? "))
        
    else:
        break      
print(products)

 Enter the new product?  coffee
Enter the price of the product?  50
 Enter the new product?

{'coffee': 50}

In [48]:
print(products.keys())
print(products.values())

dict_keys(['coffee'])
dict_values([50])

**to print the items of dic**

In [49]:
#to print the items of dic
for item in products: #item-->key  , products[item]--->value
    print(f"{item:15}: {products[item]:3}")

coffee         :  50

In [50]:
#diff data type of dic
properties={"brand":"Toyota",
       "color":["red","white","yellow"],
       "automatic":True,
       "warranty":(5,10),#ضمان
        "year":2012   
}
for item in properties:
    print(f"{item:15} is of type {type(properties[item]).__name__ }")

brand           is of type str
color           is of type list
automatic       is of type bool
warranty        is of type tuple
year            is of type int

**to append new dic**

In [51]:
#to append new dic
new_properties={
    "price":100000000,
    "year":2025,
    "warranty":(5,15),   
}
properties.update(new_properties)
properties

{'brand': 'Toyota',
 'color': ['red', 'white', 'yellow'],
 'automatic': True,
 'warranty': (5, 15),
 'year': 2025,
 'price': 100000000}

**delete a dic item**

In [52]:
#popitem() --> بتزيل اخر عنصر تم اضافته 
#del(key),pop(key)---> نفس الوظيفه
#properties.pop("color")
#del(properties["color"])
#properties.popitem()
#properties.clear()
properties

{'brand': 'Toyota',
 'color': ['red', 'white', 'yellow'],
 'automatic': True,
 'warranty': (5, 15),
 'year': 2025,
 'price': 100000000}

**************LOOPS**************

*WHILE LOOP*

In [53]:
a=1
while a<10:
    print(a)
    a=a+2

1
3
5
7
9

In [54]:
sum=0
a=int(input("enter the positive num: "))
while a>=0:
   sum+=a
   a=int(input("enter the positive num: "))
print(f"the sum ={sum}")

enter the positive num:  6
enter the positive num:  6
enter the positive num:  7
enter the positive num:  8
enter the positive num:  8
enter the positive num:  -1

the sum =35

In [55]:
names=[]
name=input("enter the name: ")
while name.lower()!="quit":
    names.append(name)
    names.sort()
    print(names)
    name=input("enter the name: ")
else:
    names.sort()
    print(names)

enter the name:  shahd

['shahd']

enter the name:  mona

['mona', 'shahd']

enter the name:  salma

['mona', 'salma', 'shahd']

enter the name:  quit

['mona', 'salma', 'shahd']

*infinite loop*

In [56]:
is_learning=True
counter=1
while counter <=10:
    print("you'r learning")
    counter+=1

you'r learning
you'r learning
you'r learning
you'r learning
you'r learning
you'r learning
you'r learning
you'r learning
you'r learning
you'r learning

************FOOR LOOP************

In [58]:
#any type of objects in python can use loop called iterable قابل للتكرار
#for var in iterable:#iterable---> include(int,str,float,tuple,set,list,dict,array,range)
number=int(input("Enter the number: "))
for i in range(1,11):
    print(f"{number} * {i} = {i*number}")

Enter the number:  7

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [59]:
students={"Bilel":87,
         "Zied":45,
         "Nour":69,
         "Omar":93,
         "Sara":56 }
#first method
# for i in students: #i==keys     
#     if students[i]>60:
#         print(f"{i:13}: {students[i]:3}")
#second method
# for name,avarage in students.item())
#     if avarage>=60:
#         print(name,avarage)#




#

In [60]:
#third method
for item in students.items(): #item---> tuple
    if item[1]>=60:
        print(item)

('Bilel', 87)
('Nour', 69)
('Omar', 93)

In [66]:
#restaurant management 
import math
menu={"pizza":10,
      "humburger":5,
      "chicken":8,
      "shawarma":7,
      "fries":1.5   
}
print(f"***************menu*******************")
for dish_name in menu:
    print(f"{dish_name:5}: {menu[dish_name]} $")
print(f"****************************************")
number=int(input("Enter the number of dishs: "))
order=[]
for count in range(number):
    dish={}
    dish["name"]=input("Choose the dish from the menu:")
    dish["quantity"] =int(input("Enter the quantity: "))
    order.append(dish)   #
       # print(order)
print("-----------------------------")
print("you has chosen: ")
total=0
for dish in order:
    print(f"{dish["name"]} : {dish["quantity"]}")
    total=total+dish["quantity"]*menu[dish["name"]]
print(f"The total price of your order is: {total} $")

***************menu*******************
pizza: 10 $
humburger: 5 $
chicken: 8 $
shawarma: 7 $
fries: 1.5 $
****************************************

Enter the number of dishs:  2
Choose the dish from the menu: humburger
Enter the quantity:  2
Choose the dish from the menu: pizza
Enter the quantity:  3

-----------------------------
you has chosen:
humburger : 2
pizza : 3
The total price of your order is: 40 $

In [67]:
names={"shahd","sami","mona","ali","farah"}
#for element in enumerate(names):#enumerate---> بترجع العناصر مع اضافة مكان  وجوده في القائمه علي شكل tuple 
#    print(element)
for counter,name in enumerate(names,start=1):
    print(f"{counter} - {name} ")

1 - shahd
2 - mona
3 - ali
4 - farah
5 - sami

**************************************for loop vs while loop**************************************

In [68]:
#for----> use when the number of iterations is known 
#while---->use when the number of iterations is unknown and it stoped in case condition

In [69]:
#break--->لتوقف عند خطوة ما
#continue--> لتجاهل خظوة ما وتكملة الوب عادي بيعملها سكيب ويكمل
#pass-->علشان لما مكملش اللوب ميطلعش ايرور في باقي الكود بيخلي النظام ميشوفش اللوب

In [70]:
#break
watches=["ok","ok","ok","faulty","ok","ok"]
for i in watches:
    if i=="faulty":
       # break
        #continue 
     print(i)

faulty

In [82]:
stored_pass = "shahd123"
attempts = 3

for i in range(attempts):
    password = input("Enter your password: ")
    if password == stored_pass:
        print("Correct password")
        break
    else:
        print("Incorrect password")
else:
    print("No more attempts")

Enter your password:  jffjn

Incorrect password

Enter your password:  ejnojn

Incorrect password

Enter your password:  onigo

Incorrect password
No more attempts

In [84]:
drinks=["coffee","juice","milk","soda","tea","water"]
for drink in drinks:
    print(drink)

coffee
juice
milk
soda
tea
water

In [85]:
names="shahd moatasem"
for c in names:
    print(c)

s
h
a
h
d

m
o
a
t
a
s
e
m

In [86]:
#to print numbers frm start to end we use the range
for number in range(10):#start-->defult=0 & end--> defult=end-1  
    print(number) #get 0:9

0
1
2
3
4
5
6
7
8
9

In [87]:
for number in range(4,11,2): #range(start,end,step)  the step---> defult=1
    print(number)

4
6
8
10

In [88]:
for number in range(100,0,-10): #range(start,end,step)  the step---> defult=1
    print(number)

100
90
80
70
60
50
40
30
20
10

In [91]:
#guess game
import random

my_number = random.randint(1, 10)

for i in range(10):
    user_number = int(input("Please guess a number: "))
    if my_number == user_number:
        print("Correct guess! You win!")
        break
    else:
        print("Wrong guess, try again.")
else:
    print(f"Sorry, you lost. The correct number was {my_number}")

Please guess a number:  3

Wrong guess, try again.

Please guess a number:  4

Wrong guess, try again.

Please guess a number:  5

Wrong guess, try again.

Please guess a number:  6

Wrong guess, try again.

Please guess a number:  7

Wrong guess, try again.

Please guess a number:  4

Wrong guess, try again.

Please guess a number:  2

Wrong guess, try again.

Please guess a number:  1

Correct guess! You win!

In [92]:
#continue --> skip an iteration 
drinks=["coffee","juice","water","milk","soda","tea"]
prices=[25,10,3,32,12,5]
free_drinks=["water","tea"]
for i in range(len(drinks)):
    if drinks[i] in free_drinks:
        continue
    else:
            print(f"The drink is {drinks[i].title():10}:{prices[i]:3}") #:10 and :3 يعني سيب مسافه بالقدر ده

The drink is Coffee    : 25
The drink is Juice     : 10
The drink is Milk      : 32
The drink is Soda      : 12

*****************pass--> لا شيء يعني متعملش حاجة بتعمل بلوك للمكان لحين ما اصلح الغلط مثلا*****************

In [93]:
#pass--> لا شيء يعني متعملش حاجة بتعمل بلوك للمكان لحين ما اصلح الغلط مثلا
#يعني لو كتبت for ومش هكتب شرط وهعديها فبكتبpass
for i in range(1,10):
    pass

*************************sleep*************************

In [95]:
#sleep(num fo seconds) --> علشان ابطا المعالج علشان خاطر اليوزر واخليه يحس بانيميشن في الموضوع 
from time import sleep
for i in range(30):# without func sleep will print the point quickly
    print(".", end="") # end="" يعني حط في النهايه جنمب بعض متدوسش ادخال وتحطهم فوق بعض 
    sleep(0.5)# with func sleep it will print between each pint wait 1 second

..............................

**********************Nasted for loops**********************

In [96]:
#nasted -->عش حاجة جوا حاجه
name="shahd moatasem qorany"
names=name.split()
for word in names:
    for c in word:
        print(c, end=" ")
    print("")
    sleep(0.5)

s h a h d
m o a t a s e m
q o r a n y

***************else in for loops***************

In [97]:
# use when we don't use break
#يعني بعد اللوب تخلص ومافيش بريك جملة else هتشتغل 
#to print primary number 
for number in range(1,30): 
    if number>1:
        for i in range(2,number):
            if (number%i)==0:  #لو قبل القسمه بدون باقي اذا هو عدد غير اولي
                break #تخطي هذا الرقم
           
        else:
             print(number)# لطباعة العدد الاولي اللي مش هيطلع برا بريك

2
3
5
7
11
13
17
19
23
29